lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.bash
expected-gen-code/
gen-code/
.editorconfig
.ignore
.prettierignore
test/main.test.js
test/slug.js
eslint.config.mjs
lib/main.test-d.ts
.prettierrc.yaml
.travis.yml
pids
logs
results
examples
node_modules
npm-debug.log
.idea
